
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A2K</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://templates.iqonic.design/product/lite/webkit/html/assets/images/favicon.ico" />
    <link rel="stylesheet" href="https://templates.iqonic.design/product/lite/webkit/html/assets/css/backend-plugin.min.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/product/lite/webkit/html/assets/css/backend.css?v=1.0.0">
    <link rel="stylesheet" href="https://templates.iqonic.design/product/lite/webkit/html/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/product/lite/webkit/html/assets/vendor/remixicon/fonts/remixicon.css">

    <link rel="stylesheet" href="https://templates.iqonic.design/product/lite/webkit/html/assets/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/product/lite/webkit/html/assets/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/product/lite/webkit/html/assets/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css">  </head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css" rel="stylesheet" />

<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
  <div class="wrapper">
      <div th:insert="~{nav}"></div>
      <div th:insert="~{header}"></div>
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                               <!-- <h5>Location</h5> -->
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="locations" class="h5">Select Location</label>
                                        <select name="type" id="locations" class="form-control"  onchange="getmodules(this.value)">
                                            <option th:value="''" th:text="Select"></option>
                                            <option th:each="i : ${parents}" th:value="${i.puuid}" th:text="${i.parentlocationName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="txtmodules" class="h5">Available Sites/Modules</label>
                                        <input type="text" class="form-control" id="txtmodules" name="txtmodules">
                                        <input type="text" class="form-control" id="txtLocationIds" name="txtLocationIds">
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-center justify-content-between">

                                    <div class="dropdown status-dropdown mr-3">


                                        <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                                            <div class="btn bg-body"><span class="h6">Status :</span> In Progress</div>
                                        </div>

                                    </div>
                                    <div class="pl-3 border-left btn-new">
                                        <button type="button" class="btn btn-primary" onclick="migrate()">
                                            Start Migration
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div id="circle-progress-01" class="circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="25" data-type="percent"></div>
                                    <i class="ri-star-fill m-0 text-warning"></i>
                                </div>
                                <h5 class="mb-1">Users & Providers</h5>
                                <p class="mb-3">0 0f 130 processed.</p>
                                <div class="d-flex align-items-center justify-content-between pt-3 border-top">

                                    <a class="btn btn-white text-primary link-shadow">Step 1  - In Progress</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div id="circle-progress-02" class="circle-progress circle-progress-secondary" data-min-value="0" data-max-value="100" data-value="30" data-type="percent"></div>
                                    <i class="ri-star-fill m-0 text-warning"></i>
                                </div>
                                <h5 class="mb-1">Patient Demographics</h5>
                                <p class="mb-3">0 0f 130 processed.</p>
                                <div class="d-flex align-items-center justify-content-between pt-3 border-top">

                                    <a class="btn btn-white text-secondary link-shadow">Step 2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div id="circle-progress-03" class="circle-progress circle-progress-warning" data-min-value="0" data-max-value="100" data-value="0" data-type="percent"></div>
                                    <i class="ri-star-fill m-0 text-warning"></i>
                                </div>
                                <h5 class="mb-1">GreenCard Encounters</h5>
                                <p class="mb-3">0 0f 130 processed.</p>
                                <div class="d-flex align-items-center justify-content-between pt-3 border-top">

                                    <a class="btn btn-white text-warning link-shadow">Step 3 Waiting</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div id="circle-progress-04" class="circle-progress circle-progress-success" data-min-value="0" data-max-value="100" data-value="40" data-type="percent"></div>
                                    <i class="ri-star-fill m-0 text-warning"></i>
                                </div>
                                <h5 class="mb-1">Lab Orders</h5>
                                <p class="mb-3">0 0f 130 processed.</p>
                                <div class="d-flex align-items-center justify-content-between pt-3 border-top">

                                    <a class="btn btn-white text-success link-shadow">Step 4</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div id="circle-progress-05" class="circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="25" data-type="percent"></div>
                                    <i class="ri-star-fill m-0 text-warning"></i>
                                </div>
                                <h5 class="mb-1">Pharmacy Order</h5>
                                <p class="mb-3">0 0f 130 processed.</p>
                                <div class="d-flex align-items-center justify-content-between pt-3 border-top">
                                    <a class="btn btn-white text-primary link-shadow">Step 5</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div id="circle-progress-06" class="circle-progress circle-progress-secondary" data-min-value="0" data-max-value="100" data-value="30" data-type="percent"></div>
                                    <i class="ri-star-fill m-0 text-warning"></i>
                                </div>
                                <h5 class="mb-1">Overall Migration</h5>
                                <p class="mb-3">0 0f 130 processed.</p>
                                <div class="d-flex align-items-center justify-content-between pt-3 border-top">

                                    <a class="btn btn-white text-secondary link-shadow">Final Status</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>
<!-- Wrapper End-->

<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 text-right">
                <span class="mr-1"><script>document.write(new Date().getFullYear())</script>©</span> <a href="#" class="">AMPATH</a>.
            </div>
        </div>
    </div>
</footer>
<!-- Backend Bundle JavaScript -->
<script src="https://templates.iqonic.design/product/lite/webkit/html/assets/js/backend-bundle.min.js"></script>

<!-- Table Treeview JavaScript -->
<script src="https://templates.iqonic.design/product/lite/webkit/html/assets/js/table-treeview.js"></script>

<!-- Chart Custom JavaScript -->
<script src="https://templates.iqonic.design/product/lite/webkit/html/assets/js/customizer.js"></script>

<!-- Chart Custom JavaScript -->
<script async src="https://templates.iqonic.design/product/lite/webkit/html/assets/js/chart-custom.js"></script>
<!-- Chart Custom JavaScript -->
<script async src="https://templates.iqonic.design/product/lite/webkit/html/assets/js/slider.js"></script>
<!-- app JavaScript -->
<script src="https://templates.iqonic.design/product/lite/webkit/html/assets/js/app.js"></script>

<script src="https://templates.iqonic.design/product/lite/webkit/html/assets/vendor/moment.min.js"></script>
<!-- Load jQuery first -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Load Select2 plugin after jQuery -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script> -->
<script>
function getmodules(id){
alert(id);
$.get( "/locations/modules/" + id, function( data ) {
    var sites='';
    var location_id='';
    //alert(data);
    $.each(data, function (i, item) {
        var locationName = item.childlocationName;
        var lid = item.childlocationId;
        sites += ', ' + locationName;
        location_id +=','+lid;

    });
    sites = sites.substring(1);
    location_id = location_id.substring(1);
    alert(sites+''+ location_id);
    $('#txtmodules').val(sites) ;
    $('#txtLocationIds').val(location_id) ;


  });
}

function migrate(){
    var location_id = document.getElementById('txtLocationIds').value;
    var parent_uuid = document.getElementById('locations').value;

    $.get( "/locations/migrate/" + location_id+"/"+parent_uuid, function( data ) {
    alert(data);

   });
}

    </script>
</body>
</html>